# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
.env
.env.*

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Logs
*.log
